.blog-content, .editor-preview
  h1
    font-size 30px
    font-weight bold
  h2
    font-size 26px
    font-weight bold
  h3
    font-size 22px
    font-weight bold
  h4
    font-size 20px
    font-weight normal
  h5
    font-size 18px
    font-weight normal
  h6
    font-size 16px
    font-weight normal
  p
    font-size 16px
    font-weight normal
  ul
    padding-left 20px
    li
      list-style-type disc
  blockquote
    background #eee
    padding-left 12px
  a, a:visited
    color #ff3860
