pre
  margin 10px 0
  border-radius 5px
  // background #fcf1d4
  background #f7f3ea
  code
    font-family SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace
    .hljs-built_in
      color #6899d9
    .hljs-keyword
      color #e65278
    .hljs-number
      color #ff880b
    .hljs-string
      color #8cb000
    .hljs-regexp
      color #d71617
    .hljs-function
      .hljs-params
        color #ff880b
    .hljs-literal
      color #ff880b
    .hljs-comment
      color #c4b3a3
    .hljs-title
      color #6899d9
